<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="/assets/js/jquery-3.5.0.min.js"></script>

<link rel="shortcut icon" href="/assets/favicon.png" type="image/png" sizes="180x180" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<title>{{ page.title | default: site.title }}</title>
{% seo %}