<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">

<script src="/assets/js/jquery-3.5.0.min.js"></script>
<script>
	$(function(){
		$("[data-tag]").click((e) => {
		  currentTag = e.target.dataset.tag;
		  filterByTagName(currentTag);
		})
		
		function filterByTagName(tagName) {
		  $('.hidden').removeClass('hidden');
		  $('.post-wrapper').each((index, elem) => {
		    if (!elem.hasAttribute(`data-${tagName}`)) {
		      $(elem).addClass('hidden');
		    }
		  });
		  $(`.tag`).removeClass('selected');
		  $(`.tag[data-tag=${tagName}]`).addClass('selected');
		}
		
		$('.all').click(function(){
			$('.tag').removeClass('selected');
			$('.post-wrapper').removeClass('hidden');
		});
		
		let currentTag = "";
		const queryTag = getQuery().tag;
		if (queryTag) {
			currentTag = queryTag;
			filterByTagName(currentTag)
		}
		
		function getQuery() {
			var params = {};
		    window.location.search.replace(/[?&]+([^=&]+)=([^&]*)/gi, function(str, key, value) { params[key] = value; });
		    return params;
		}
		
/*
		function updateQueryString(tagName) {
			const path = `${location.protocol}//${location.host}${location.pathname}?tag=${tagName}`;
			window.history.replaceState({ path }, '', path);
		}
*/
	});
</script>

<link rel="shortcut icon" href="/assets/img/favicon.png" type="image/png" sizes="180x180" />
<link href="https://fonts.googleapis.com/css?family=Merriweather:300|Raleway:400,700" rel="stylesheet" />
<link rel="stylesheet" type="text/css" href="https://cdn.rawgit.com/moonspam/NanumSquare/master/nanumsquare.css" />
<link rel="stylesheet" href="{{ "/assets/css/style.css" | relative_url }}">

<title>{{ page.title | default: site.title }}</title>
{% seo %}