<!DOCTYPE html>
<html lang="ko">
  <head>
    {%- include head.html -%}
  </head>
  <body>
    <main class="container">
      <section class="about">
        <a href="/"><img src="{{ "/assets/img/profile.png" | relative_url }}" alt="{{ site.plainwhite.name }}"></a>
        <h2 id="title">
          <a href="/">{{ site.plainwhite.name }}</a>
        </h2>
        <p class="tagline">{{ site.plainwhite.tagline }}</p>
        <ul class="social">
		  {%- if site.plainwhite.social_links.mySite -%}
		  <a href="http://{{ site.plainwhite.social_links.mySite }}.com" target="_blank">
		    <li>
		      <i class="icon-home"></i>
		    </li>
		  </a>
		  {%- endif -%}
          {%- if site.plainwhite.social_links.instagram -%}
            <a href="https://instagram.com/{{ site.plainwhite.social_links.instagram }}" target="_blank">
              <li>
                <i class="icon-instagram"></i>
              </li>
            </a>
          {%- endif -%}
          {%- if site.plainwhite.social_links.behance -%}
            <a href="https://behance.net/{{ site.plainwhite.social_links.behance }}" target="_blank">
              <li>
                <i class="icon-behance"></i>
              </li>
            </a>
          {%- endif -%}
        </ul>

        {%- if site.plainwhite.navigation -%}
          <nav class="navigation">
            <ul>
              {% for link in site.plainwhite.navigation %}
                <li>
                  <a href="{{ link.url }}">{{ link.title }}</a>
                </li>
              {% endfor %}
            </ul>
          </nav>
        {%- endif -%}

        <p>&copy; {{ "now" | date: "%Y" }}</p>
      </section>
      <section class="content">
        {{ content }}
      </section>
    </main>
    {%- if site.plainwhite.analytics_id -%}
      <script async src="https://www.googletagmanager.com/gtag/js?id={{ site.plainwhite.analytics_id }}"></script>
      <script>
		window.dataLayer = window.dataLayer || [];
		function gtag() { dataLayer.push(arguments); }
		gtag('js', new Date());

		gtag('config', '{{ site.plainwhite.analytics_id }}');
	</script>
    {%- endif -%}
  </body>
</html>
